  .header {

  }
  .nav {

  }
  .list {
    display: flex;
    position: relative;

  }
  .li {
    margin: 0 10px;
  }
  .li:last-child{
    position: absolute;
    right: 0;
  }
  .link{
    text-decoration: none;
    color: #61DAFB;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  .link:hover {

  }
